.container {
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  width: 100%;
}

.item {
  flex-grow: 1;
  margin: 0;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.formu {
  display: flex;
  justify-content: center;
}

.mat-grid--title {
  grid-row: span 2; /* Adjust as needed */
}

.ancho {
    width: 80%;
  }
