<div class="body">

  <form [formGroup]="form" (ngSubmit)="ingresar()">
    <div class="login">

      <img src="./assets/img/usuario.png" width="100%">
      <h1>Login</h1>

      <mat-form-field class="ancho">
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off" type="text" formControlName="usuario">
      </mat-form-field>

      <mat-form-field class="ancho">
        <mat-label>Contraseña</mat-label>
        <input matInput autocomplete="off" type="password"  formControlName="password">
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="primary" class="ancho button" [disabled]="form.invalid" >Ingresar</button>
    </div>
    </form>

</div>
