
<div class="container">
  <mat-toolbar>
    <span>Registro de Alumnos</span>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" [routerLink]="['/dashboard/crear-usuario']" >AGREGAR</button>
    </mat-toolbar>

  <div *ngIf="listUsuarioss.length > 0">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Juan" #input autocomplete="off">
    </mat-form-field>
    <div class="mat-elevation-z10">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
      </ng-container>


      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">


          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">

            <button mat-menu-item>
              <a class="pointer" style="color: #000000"  >
                <mat-icon>search</mat-icon> Ver Usuario
              </a>
            </button> <!-- matTooltip="Ver Usuario" Esto me servira en un futuro.. -->

            <button mat-menu-item>
              <a class="pointer" style="color: #000000" >
                <mat-icon>edit</mat-icon> Editar Usuario
              </a>
            </button> <!--  matTooltip="Editar Usuario" -->

            <button mat-menu-item>
              <a class="pointer" (click)="eliminarUsuario(i)" style="color: #8b1c06" >
               <mat-icon>delete</mat-icon>  Eliminar Usuario
              </a>
            </button> <!-- matTooltip="Eliminar Usuario" -->
          </mat-menu>


        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>

    <h2 *ngIf="listUsuarioss.length == 0">No hay registros para mostrar</h2>


</div>

