<div class="productox">
  <h1> <strong>Productos & Servicios</strong> </h1>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
      <strong> Curso de Angular </strong>
      <button (click)="alert()">Adquirir</button>
      <img src="./assets/img/angular1.png"  height="50%" width="50%" >
  </mat-grid-tile>


  <mat-grid-tile> <strong> Curso de Javascript </strong>
    <button (click)="alert()">Adquirir</button>
    <img src="./assets/img/javascript1.png"   height="50%" width="50%">

  </mat-grid-tile>


  <mat-grid-tile> <strong> Curso de MongoDB </strong>
    <button (click)="alert()">Adquirir</button>
    <img src="./assets/img/mongodb1.png"  height="50%" width="50%">
  </mat-grid-tile>


  <mat-grid-tile> <strong> Curso de Node.js
  </strong>
  <button (click)="alert()">Adquirir</button>
    <img src="./assets/img/node1.png"  height="50%" width="50%">
  </mat-grid-tile>

</mat-grid-list>
