.productox {
  display: flex;
  justify-content: center;
}

/* Host = solo limito un componente no mido toda la pagina y ngDeep se usa*/
:host ::ng-deep .mat-grid-tile-content {
  flex-direction: column-reverse;
}
